a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a,
span {
  display: inline-block;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 1476px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
}

.header-top {
  background: rgba(0, 0, 0, 0.3);
  padding-top: 13px;
  transition: 0.5s;
  color: white;
}

.header-top:hover {
  background: #0F405B;
  opacity: 1;
}

.header-top_item {
  text-align: center;
  font-size: 13px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .header-top_item {
    margin: 18px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .header-top_item {
    margin: 0;
  }
}

.header-top_item span {
  font-weight: 300;
}

.header-top_item b {
  font-weight: 600;
}

.header-top_contacts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .header-top_contacts {
    flex-direction: row;
  }
  .header-top_contacts span:first-child {
    padding-right: 40px;
  }
}

.header-top_contacts span {
  font-size: 15px;
}

.header-top_contacts b {
  font-size: 18px;
}

.header-top_adress span {
  position: relative;
  padding-left: 26px;
}

.header-top_adress span:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 15px;
  height: 21px;
  background: url("../img/marker.png") no-repeat center;
}

.header-top_logIn a {
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  padding-right: 40px;
}

.header-top_logIn a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background: url("../img/log-in.png") no-repeat center;
}

@media (min-width: 768px) {
  .header-top_inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .header-top_inner {
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .header-top_logo {
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .header-top_item:first-child {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header-top_item:first-child {
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .header-top_logo {
    padding-bottom: 0;
    padding-right: 68px;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header-top_logo {
    position: relative;
    bottom: -7px;
  }
}

.nav-wrap {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  background: #008cce;
  padding: 20px 0;
  position: relative;
}

@media (min-width: 992px) {
  .nav-wrap {
    padding: 0 10px;
  }
}

@media (min-width: 992px) and (min-width: 1400px) {
  .nav-wrap {
    padding: 0;
  }
}

.navbar {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 49%;
  transform: translateY(-56%);
  right: 10px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

.navbar span {
  width: 100%;
  height: 5px;
  background: white;
}

.navbar:before {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  height: 5px;
  background: white;
}

.navbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: white;
}

.main-nav {
  display: none;
  padding: 0 10px;
  position: absolute;
  z-index: 100;
  background: #008cce;
  width: 100%;
  top: 13px;
}

@media (min-width: 992px) {
  .main-nav {
    padding: 0;
    position: unset;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }
  .main-nav ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .main-nav ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 992px) and (min-width: 1100px) {
  .main-nav ul li:not(:last-child) {
    margin-right: 48px;
  }
}

.main-nav a {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
}

@media (min-width: 992px) {
  .main-nav a {
    padding: 19px 0;
  }
}

.main-nav .search-tour {
  position: relative;
  padding-left: 26px;
  transition: 0.5s;
}

.main-nav .search-tour:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 24px;
  background: url("../img/palma-icon.png") no-repeat center;
}

@media (min-width: 992px) {
  .main-nav .search-tour:after {
    top: 12px;
  }
}

.main-nav .search-tour:before {
  content: "";
  position: absolute;
  right: -15px;
  top: 16px;
  width: 10px;
  height: 6px;
  background: url("../img/arrow-top.png") no-repeat center;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .main-nav .search-tour:before {
    top: 24px;
  }
}

@media (min-width: 1200px) {
  .main-nav .search-tour:before {
    right: -28px;
  }
}

.main-nav .search-tour_active:before {
  transition: 0.5s;
  transform: rotate(180deg);
}

.nav-wrap_inner {
  position: relative;
}

.toggleMenu {
  position: absolute;
  z-index: 200;
  max-width: 811px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  background: white;
  top: 20px;
  left: -9999px;
  transition: 0.5s;
}

@media (min-width: 600px) {
  .toggleMenu {
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .toggleMenu {
    top: 64px;
  }
}

.toggleMenu-item {
  text-transform: uppercase;
}

.toggleMenu-item a {
  position: relative;
  width: 100%;
  font-weight: 700;
  color: #083b57;
  font-size: 13px;
  padding: 20px 0 20px 30px;
}

.toggleMenu-close {
  width: 100%;
  text-align: right;
  padding: 7px 12px;
  color: black;
  font-weight: 900;
}

@media (min-width: 992px) {
  .toggleMenu-close {
    display: none;
  }
}

.toggleMenu-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}

.toggleMenu-box ul a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 0;
}

.toggleMenu-box ul a span {
  padding: 20px 0 20px 23px;
}

.toggleMenu-show {
  left: 0;
}

.toggleMenu-flagImg {
  width: 28px;
  height: 29px;
  border-radius: 10em;
  overflow: hidden;
  position: relative;
  top: 1px;
}

.toggleMenu-title {
  text-align: center;
  color: #c6c6c6;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}

@media (min-width: 992px) {
  .toggleMenu-title {
    font-size: 13px;
    line-height: 48px;
  }
}

.toggleMenu-list {
  width: 100%;
  border-right: 1px solid #E3E3E3;
}

@media (min-width: 600px) {
  .toggleMenu-list {
    max-width: 223px;
    width: 100%;
  }
}

.toggleMenu-list ul:not(:last-child) {
  padding-bottom: 10px;
}

@media (min-width: 600px) {
  .toggleMenu-list ul:not(:last-child) {
    padding-bottom: 40px;
  }
}

.toggleMenu-list ul:not(:last-child) .active,
.toggleMenu-list ul:not(:last-child) a:hover {
  padding-left: 42px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  background: #008CCE;
  color: white;
}

.toggleMenu-list ul:not(:last-child) .active:before,
.toggleMenu-list ul:not(:last-child) a:hover:before {
  content: "";
  position: absolute;
  left: 19px;
  top: 12px;
  background: url("../img/palma-icon.png") no-repeat center;
  width: 14px;
  height: 24px;
}

@media (min-width: 600px) {
  .toggleMenu-list ul:not(:last-child) .active:after,
  .toggleMenu-list ul:not(:last-child) a:hover:after {
    content: "";
    position: absolute;
    right: -3px;
    top: 18px;
    width: 20px;
    height: 20px;
    background: #008CCE;
    transform: rotate(45deg);
  }
}

.toggleMenu-list .showAllTour {
  background: #083b57;
}

.toggleMenu-list .showAllTour a {
  color: white;
}

.toggleMenu-countries {
  padding: 0 24px 0 32px;
  position: relative;
}

.toggleMenu-countries a:hover {
  color: #008cce;
}

.toggleMenu-countries a:hover .toggleMenu-flagImg {
  transition: 0.5s;
  transform: scale(1.3);
}

.toggleMenu-countries:not(:first-child):after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #E3E3E3;
}

[class^="swiper-button-"] {
  transition: all 0.3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  float: left;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .content {
  padding-top: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #008CCE, 0 0 1em #008CCE;
}

@media (min-width: 992px) {
  .swiper-slide .content {
    text-align: right;
    right: 0;
  }
}

.swiper-slide .content .title {
  font-size: 40px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .swiper-slide .content .title {
    font-size: 100px;
  }
}

.swiper-slide .content .caption {
  display: block;
  font-size: 28px;
  font-weight: bold;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

@media (min-width: 992px) {
  .swiper-slide .content .caption {
    font-size: 48px;
  }
}

.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #0C3E59;
}

.slide-container {
  max-width: 1476px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-btn {
  font-size: 14px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  color: white;
}
