a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a,
span {
  display: inline-block;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1476px;
  width: 100%;
  margin: 0 auto;
}

.header {
  color: white;
  background: url("../img/ocean.jpg") no-repeat center;
  background-size: cover;
}

.header-top {
  background: rgba(0, 0, 0, 0.3);
  padding-top: 13px;
  transition: 0.5s;
}

.header-top:hover {
  background: #0F405B;
  opacity: 1;
}

.header-top_item {
  text-align: center;
  font-size: 13px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .header-top_item {
    margin: 18px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .header-top_item {
    margin: 0;
  }
}

.header-top_item span {
  font-weight: 300;
}

.header-top_item b {
  font-weight: 600;
}

.header-top_contacts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .header-top_contacts {
    flex-direction: row;
  }
  .header-top_contacts span:first-child {
    padding-right: 40px;
  }
}

.header-top_contacts span {
  font-size: 15px;
}

.header-top_contacts b {
  font-size: 18px;
}

.header-top_adress span {
  position: relative;
  padding-left: 26px;
}

.header-top_adress span:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 15px;
  height: 21px;
  background: url("../img/marker.png") no-repeat center;
}

.header-top_logIn a {
  color: white;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  padding-right: 40px;
}

.header-top_logIn a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background: url("../img/log-in.png") no-repeat center;
}

@media (min-width: 768px) {
  .header-top_inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .header-top_inner {
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .header-top_logo {
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .header-top_item:first-child {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header-top_item:first-child {
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .header-top_logo {
    padding-bottom: 0;
    padding-right: 68px;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header-top_logo {
    position: relative;
    bottom: -7px;
  }
}

.nav-wrap {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  background: #008cce;
  padding: 20px 0px;
  position: relative;
}

@media (min-width: 992px) {
  .nav-wrap {
    padding: 0 10px;
  }
}

@media (min-width: 992px) and (min-width: 1400px) {
  .nav-wrap {
    padding: 0;
  }
}

.navbar {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 49%;
  transform: translateY(-56%);
  right: 10px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

.navbar span {
  width: 100%;
  height: 5px;
  background: white;
}

.navbar:before {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  height: 5px;
  background: white;
}

.navbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: white;
}

.main-nav {
  display: none;
  padding: 0 10px;
  position: absolute;
  background: #008cce;
  top: 39px;
}

@media (min-width: 992px) {
  .main-nav {
    padding: 0;
    position: unset;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }
  .main-nav ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .main-nav ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 992px) and (min-width: 1100px) {
  .main-nav ul li:not(:last-child) {
    margin-right: 48px;
  }
}

.main-nav a {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
}

@media (min-width: 992px) {
  .main-nav a {
    padding: 19px 0;
  }
}

.main-nav .search-tour {
  position: relative;
  padding-left: 26px;
}

.main-nav .search-tour:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 24px;
  background: url("../img/palma-icon.png") no-repeat center;
}

@media (min-width: 992px) {
  .main-nav .search-tour:after {
    top: 12px;
  }
}

.main-nav .search-tour:before {
  content: "";
  position: absolute;
  right: -15px;
  top: 16px;
  width: 10px;
  height: 6px;
  background: url("../img/arrow-top.png") no-repeat center;
}

@media (min-width: 992px) {
  .main-nav .search-tour:before {
    top: 24px;
  }
}

@media (min-width: 1200px) {
  .main-nav .search-tour:before {
    right: -28px;
  }
}
