// out: ../css/style.css, outputStyle: expanded

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

a,
span {
    display: inline-block;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1476px;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: relative;

    &-inner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 100%;
        transition: 0.5s;
    }
}

.header-top {
    background: rgba(0,0,0,0.3);
    padding-top: 13px;
    transition: 0.5s;
    color: white;

    &_logo {
        transition: 0.5s;
    }

    &:hover {
        background: #0F405B;
        opacity: 1;
    }

    &_item {
        text-align: center;
        font-size: 13px;
        padding-bottom: 15px;
        @media(min-width:768px) {
            margin: 18px;
            @media(min-width:992px) {
                margin: 0;
            }
        }

        span {
            font-weight: 300;
        }

        a {
            color: white;
            transition: 0.5s;
        }

        b {
            font-weight: 600;
            color: white;
        }
    }

    &_contacts {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;

        &:hover {
            a {
                font-size: 18px;
                font-weight: 600;
            }
        }
        @media(min-width:1200px) {
            flex-direction: row;

            a {
                padding-right: 40px;
            }
        }

        span {
            font-size: 15px;
            transition: 0.5s;
        }

        b {
            font-size: 18px;
        }
    }

    &_adress {
        &:hover span:after {
            transform: scale(0.8);
        }

        span {
            position: relative;
            padding-left: 26px;
            transition: 0.5s;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: -2px;
                width: 15px;
                height: 21px;
                background: url("../img/marker.png") no-repeat center;
                transition: 0.5s;
            }
        }
    }

    &_logIn {
        a {
            position: relative;
            color: white;
            font-size: 13px;
            font-weight: 300;
            position: relative;
            padding-right: 40px;

            .login-icon {
                position: absolute;
                right: 0;
                top: 0;
                width: 21px;
                height: 21px;
                transition: 0.5s;

                .fas {
                    font-size: 20px;
                }
            }
        }
    }
    @media(min-width:768px) {
        &_inner {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media(min-width:1200px) {
                align-items: baseline;
            }
        }

        &_logo {
            padding-bottom: 15px;
        }
    }
    @media(min-width:992px) {
        &_item:first-child {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            @media(min-width:1200px) {
                align-items: baseline;
            }
        }

        &_logo {
            padding-bottom: 0;
            padding-right: 68px;
            @media(min-width:1200px) {
                position: relative;
                bottom: -7px;
            }
        }
    }
}

.mob-info {
    display: none;
    span {
        color: white;
        font-size: 13px;
        padding-left: 46px;
        position: relative;
        top: -10px;
    }

    .mob-logo {
        width: 174px;
        padding-left: 13px;
    }
}

.header-fixed {
    position: fixed;
    .header-top {
        display: none;
    }
    .nav-wrap {
        padding: 6px 0 0;
    }
    .mob-login{
        opacity: 1 !important;
    }
    @media(max-width:768px) {
        .mob-info {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
        }
    }
    @media(min-width:400px) {
        .mob-info {
            justify-content: flex-start;
        }
    }
    @media(min-width:768px) {
        .mob-info {
            display: none;
        }
        .nav-wrap {
            padding: 20px 0px;
        }
        .header-top {
            display: block;
            background: #0F405B;
        }
    }
    @media(min-width:992px) {
        .nav-wrap {
            padding: 6px 0 0;
        }
    }
    @media(min-width:1100px) {
        .header-top_logo {
            transform: scale(0.5);
        }

        .header-top_item {
            height: 20px;

            &:first-child {
                align-items: center;
            }
        }

        .header-top_adress {
            padding-top: 18px;
        }

        .header-top_inner {
            align-items: center;
            padding: 3px 0 15px;
        }
    }
}

.img-rotate {
    transform: rotate(-180deg);
}

.nav-wrap {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    background: #008cce;
    padding: 20px 0;
    position: relative;
    @media(min-width:992px) {
        padding: 0 10px;
        @media(min-width:1400px) {
            padding: 0;
        }
    }
}

.navbar {
    width: 85px;
    // height: 25px;
    position: absolute;
    top: 62%;
    transform: translateY(-56%);
    right: 16px;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(min-width:768px) {
        justify-content: flex-end;
    }
    .mob-login{
        opacity: 0;
        @media(min-width:768px) {
            display: none;
        }
    }

    @media(min-width:992px) {
        display: none;
    }

    span {
        width: 100%;
        height: 5px;
        background: white;
    }
}

.main-nav {
    display: none;
    padding: 0 10px;
    position: absolute;
    z-index: 100;
    background: #008cce;
    width: 100%;
    top: 16px;
    @media(min-width:992px) {
        padding: 0;
        position: unset;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;

        ul {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            li:not(:last-child) {
                margin-right: 20px;
                @media(min-width:1100px) {
                    margin-right: 48px;
                }
            }
        }
    }

    a {
        position: relative;
        display: inline-block;
        color: white;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 0;
        transition: 0.5s;

        &:hover {
            padding-left: 26px;
        }

        &:hover:after {
            display: block;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 24px;
            background: url("../img/palma-icon.png") no-repeat center;
            display: none;
            @media(min-width:992px) {
                top: 12px;
            }
        }
        @media(min-width:992px) {
            padding: 19px 0;
        }
    }

    .search-tour {
        &:before {
            content: "";
            position: absolute;
            right: -15px;
            top: 16px;
            width: 10px;
            height: 6px;
            background: url("../img/arrow-top.png") no-repeat center;
            transition: 0.5s;
            @media(min-width:992px) {
                top: 24px;
            }
            @media(min-width:1200px) {
                right: -28px;
            }
        }
    }

    .search-tour_active:before {
        transition: 0.5s;
        transform: rotate(180deg);
    }
}

.nav-wrap_inner {
    position: relative;
}

.toggleMenu {
    position: absolute;
    z-index: 200;
    max-width: 811px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    background: white;
    top: 20px;
    left: -9999px;
    transition: 0.5s;
    @media(min-width:600px) {
        flex-wrap: nowrap;
    }
    @media(min-width:992px) {
        top: 64px;
    }

    &-item {
        text-transform: uppercase;

        a {
            position: relative;
            width: 100%;
            font-weight: 700;
            color: #083b57;
            font-size: 13px;
            padding: 6px 0 6px 30px;
            @media(min-width:768px) {
                padding: 20px 0 20px 30px;
            }
        }
    }
}

#tab-list {
    li:nth-child(odd) {
        background: #F4F2F2;
    }
}

.toggleMenu-close {
    width: 100%;
    text-align: right;
    padding: 7px 12px;
    color: black;
    font-weight: 900;
    @media(min-width:992px) {
        display: none;
    }
}

.toggleMenu-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    height: 80%;

    ul a {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        padding: 0;

        span {
            padding: 20px 0 20px 23px;
        }
    }
}

.toggleMenu-show {
    left: 0;
}

.toggleMenu-flagImg {
    width: 28px;
    height: 29px;
    border-radius: 10em;
    overflow: hidden;
    position: relative;
    top: 1px;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
}

.toggleMenu-title {
    text-align: center;
    color: #c6c6c6;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
    @media(min-width:992px) {
        font-size: 13px;
        line-height: 48px;
    }
}

.toggleMenu-list {
    width: 100%;
    border-right: 1px solid #E3E3E3;
    @media(min-width:600px) {
        max-width: 223px;
        width: 100%;
    }

    ul:not(:last-child) {
        padding-bottom: 10px;
        @media(min-width:600px) {
            padding-bottom: 40px;
        }

        .active,
        a:hover {
            padding-left: 42px;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
            background: #008CCE;
            color: white;
        }

        .active:before,
        a:hover:before {
            content: "";
            position: absolute;
            left: 19px;
            top: -1px;
            background: url("../img/palma-icon.png") no-repeat center;
            width: 14px;
            height: 24px;
            @media(min-width:768px) {
                top: 12px;
            }
        }
        @media(min-width:600px) {
            .active:after,
            a:hover:after {
                content: "";
                position: absolute;
                right: -3px;
                top: 18px;
                width: 20px;
                height: 20px;
                background: #008CCE;
                transform: rotate(45deg);
            }
        }
    }

    .showAllTour {
        background: #083b57;

        a {
            color: white;
        }
    }
}

.toggleMenu-countries {
    padding: 0 24px 0 32px;
    position: relative;

    a:hover {
        color: #008cce;
    }

    a:hover .toggleMenu-flagImg {
        transition: 0.5s;
        transform: scale(1.3);
    }

    &:not(:first-child):after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: #E3E3E3;
    }
}
// slider

.swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    // float: left;
    transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.6s ease, transform 0.3s ease;
    transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.swiper-container.nav-slider {
    width: 20%;
    padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
    opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
    width: 100%;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.swiper-slide {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // display: none;
}

.swiper-slide .content {
    padding-top: 50px;
    color: #fff;
    text-align: center;
    @media(min-width:992px) {
        text-align: right;
        right: 0;
    }
}

.swiper-slide .content .title {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    @media(min-width:992px) {
        font-size: 100px;

        &:after {
            content: "";
            position: absolute;
            top: -20px;
            right: 0;
            width: 542px;
            height: 39px;
            background: url("../img/wave-header.png") no-repeat center;
        }
    }
}

.swiper-slide .content .caption {
    display: block;
    font-size: 28px;
    font-weight: 500;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
    @media(min-width:992px) {
        font-size: 48px;
    }
}

.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    left: 50%;
}

.swiper-pagination {
    max-width: 1476px;
    left: 50%;
    text-align: right;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: white;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #0C3E59;
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 275px;
}

.slide-container {
    max-width: 1476px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-80%);
}
$trans_delay: 0.1s;
$color1: #fff;
$color2: #008CCE;

.slide-btn {
    font-size: 14px;
    font-weight: bold;
    width: 190px;
    height: 58px;
    text-transform: uppercase;
    padding-right: 38px;
    color: white;
    position: relative;
    margin-top: 30px;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
    overflow: hidden;
    border-radius: 33px;
    border: 2px solid white;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-block {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: 50px;
        background: url("../img/arrow.png") no-repeat center;
        width: 38px;
        height: 20px;
    }
}

[data-type] {
    &:before {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: -1;
    }

    &:hover {
        -webkit-box-shadow: 0 5px 20px rgba(0,140,206,.5);
        box-shadow: 0 5px 20px rgba(0,140,206,.5);
        cursor: pointer;
        -webkit-transition-delay: $trans_delay;
        transition-delay: $trans_delay;
        color: $color2;
        z-index: 8;
        padding-right: 0;
    }
}

[data-type="pos_aware"] {
    &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        display: block;
        width: 40px;
        height: 40px;
        background: $color1;
        border-radius: 50px;
    }

    &:hover {
        &:before {
            -webkit-transform: scale(8.3);
            transform: scale(8.3);
        }
    }
}

.module-box {
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 300;
    color: white;
    font-weight: bold;
    font-size: 40px;
    height: 266px;
    background: rgba(0,0,0,0.5);
}

.searchTheTour {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.tour-wrap {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.tour-form {
    padding-top: 100px;
    @media(min-width: 992px) {
        padding-top: 200px;
    }
}

.tour-bg {
    position: absolute;
    background: url("../img/form-bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.blur-bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.tour-container {
    max-width: 1096px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.tour-form {
    text-align: center;
}

.tour-form_title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 27px;
    text-shadow: 0 0 49px rgba(0, 0, 0, 0.33);
    color: white;
    margin-bottom: 50px;
    @media(min-width:992px) {
        font-size: 30px;
        font-size: 71px;
    }
}

.tour-form_inner {
    max-width: 510px;
    margin: 0 auto;
    width: 100%;
}

.tour-form_slogan {
    width: 100%;
    padding: 18px 10px;
    background: white;
    color: #083b57;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    @media(min-width:992px) {
        font-size: 30px;
        padding: 18px 40px;
    }
}

.tour-form_inp {
    display: block;
    padding: 21px 36px;
    background: white;
    width: 100%;
    border: 2px solid #083B57;
    @media(min-width:992px) {
        padding: 21px 10px 21px 45px;

    }

    input {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
    }

    input:focus::-webkit-input-placeholder {
        color: #028CCD;
    }

    input:focus::-moz-placeholder {
        color: #028CCD;
    }
}

.tour-captcha_inner {
    color: #083b57;
    font-size: 11px;
    font-weight: 300;
    padding: 20px 0;

    a {
        color: #083b57;
        text-decoration: underline;
    }
}

.tour-captcha {
    @media(min-width:992px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;

        &_inner:nth-child(1) {
            margin-right: 10px;
        }

        &_inner:nth-child(2) {
            max-width: 256px;
            width: 100%;
            text-align: left;
        }
    }
}

.tour-gull,
.tour-wave {
    display: none;
}
@media(min-width:992px) {
    .tour-gull,
    .tour-wave {
        position: absolute;
        display: block;
    }

    .tour-wave {
        right: 0;
        top: 26px;
    }

    .tour-gull {
        top: 140px;
        left: -84px;
    }
}

.tour-form_btn {
    width: 318px;
    height: 57px;
    margin: 25px auto;
    position: relative;
    border-radius: 26px;
    border: 2px solid #083b57;
    background-color: #ffffff;
    color: #083b57;
    font-size: 16px;
    font-weight: bold;
    line-height: 53px;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 35px;
    outline: none;
    @media(min-width: 992px) {
        margin-top: 0;
    }

    &:hover .case-img {
        animation-name: tremor;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }

    .case-img {
        position: absolute;
        left: 27px;
        top: 12px;
        width: 36px;
        height: 30px;
    }
}
@keyframes tremor {
    0%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32%,
    36%,
    4%,
    40%,
    44%,
    48%,
    8% {
        left: 20px;
        transform: translateX(-4%);
    }

    10%,
    14%,
    18%,
    2%,
    22%,
    26%,
    30%,
    34%,
    38%,
    42%,
    46%,
    50%,
    6% {
        left: 27px;
        transform: translateX(4%);
    }

    50% {
        left: 27px;
        transform: translateX(0);
    }
}

.tour-form {
    $buttonColor: #FFFFFF;
    $backgroundColor: #DAEBEE;
    $successColor: #008CCE;

    .tour-form_btn {
        will-change: transform;
        transition: all 0.2s ease;
        border: 2px solid #083b57;
        text-align: center;

        &:hover {
            background: #008CCE;
            color: white;
        }

        &:active {
            transform: translateY(1px);
        }

        &.active {
            font-size: 0;
            border-radius: 25px;
            width: 50px;
            background: transparent;
        }

        &.loader {
            border-right: 2px solid #ffffff;
            animation: loader 0.4s linear infinite;
        }

        &.success {
            background: $successColor;
            border-color: $successColor;
            color: #ffffff;
            padding-left: 0;
        }
    }
    @keyframes loader {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(360deg);
        }
    }
}

.reviews {
    position: relative;
    padding: 0px 0 40px;
    background: url("../img/reviews-bg.jpg") no-repeat center;
    background-size: cover;
    @media(min-width: 992px) {
        padding: 58px 0 160px;
    }

    .rviews-bg {
        display: none;
        @media(min-width: 992px) {
            display: block;
        }
    }

    .reviews-plane {
        position: absolute;
        right: 0;
        animation: bounce 10s linear infinite;
    }
    @keyframes bounce {
        0% {
            right: 0;
        }

        50% {
            right: 200px;
        }

        75% {
            right: 100px;
        }

        100% {
            right: 0;
        }
    }

    .reviews-bird {
        position: absolute;
        left: 40px;
        top: 186px;
    }

    .reviews-wave {
        position: absolute;
        top: 0;
        left: 180px;
    }

    .reviews-bird_right {
        position: absolute;
        right: 0;
        top: 0;
    }

    .reviews-bird_left {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .reviews-title {
        position: relative;
        font-size: 36px;
        font-weight: bold;
        line-height: 100px;
        color: white;
        max-width: 1472px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        @media(min-width:992px) {
            text-align: left;
        }
    }

    .reviews-txt {
        color: #083b57;
        font-size: 14px;
        line-height: 24px;
        padding: 0 38px 15px;

        &_title {
            line-height: 30px;
            font-weight: bold;
            padding: 15px 0 5px;
            margin-bottom: 25px;
            text-transform: uppercase;
            border-bottom: 2px solid white;
        }
    }

    .reviews-slider {
        max-width: 1450px;
        padding: 0 25px;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
        @media(min-width: 992px) {
            padding: 0 38px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            width: 12px;
            height: 22px;
            background: red;
            top: 50%;
            transform: translateY(83%);
        }

        .swiper-button-next {
            background: url("../img/arrow-right.png") no-repeat center;
            right: 0;
        }

        .swiper-button-prev {
            background: url("../img/arrow-left.png") no-repeat center;
            left: 0;
        }
    }

    .swiper-slide {
        max-width: 280px;
        padding-top: 35px;
        border-radius: 9px;
        transition: 0.5s;
        z-index: 1;
        @media(min-width: 768px) {
            max-width: 315px;
        }

        &_inner {
            border-radius: 9px;
            background: #F5F3F3;
            transition: 0.5s;
        }

        .reviews-btn {
            width: 100%;
            text-align: center;
            background: #F5F3F3;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: transparent;

            span {
                display: block;
                line-height: 40px;
                width: 100%;
            }
        }

        &:hover {
            .reviews-btn {
                background: #ff6e00;
                color: white;
            }

            .reviews-img {
                border: 3px solid #FF6E00;
            }
            padding-top: 25px;
        }

        .swiper-slide_link {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .reviews-img {
            border-radius: 10em;
            overflow: hidden;
            position: relative;
            top: -14px;
            border: 3px solid transparent;

            img {
                display: block;
            }
        }
    }
}

.footer {
    position: relative;
    background: #083B57;
    padding: 56px 10px 50px;

    .soc-icon {
        width: 26px;
        height: 16px;
        transition: 0.5s;
    }

    .vk-link {
        background: url("../img/vk.png") no-repeat center;

        &:hover {
            background: url("../img/vk2.png") no-repeat center;
        }
    }

    .inst-link {
        background: url("../img/inst2.png") no-repeat center;
        height: 20px;

        &:hover {
            background: url("../img/inst.png") no-repeat center;
        }
    }
    @media(min-width: 1200px) {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: url("../img/wave-footer-2.png") no-repeat center;
            width: 294px;
            height: 165px;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background: url("../img/wave-footer.png") no-repeat center;
            width: 204px;
            height: 110px;
        }
    }
    @media(min-width: 1300px) {
        padding: 56px 0 50px;
    }
}

.footer-top {
    @media(min-width: 992px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
    }

    &_item {
        text-align: center;
        margin-bottom: 15px;
        @media(min-width: 992px) {
            text-align: left;
        }
    }

    &_item:last-child ul {
        margin-bottom: 15px;
    }

    &_item:nth-child(2) {
        max-width: 1074px;
        width: 100%;
    }
}

.footer-logIn {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: -3px;
        background: url("../img/log-in-footer.png") no-repeat center;
        width: 21px;
        height: 21px;
    }
}

.footer-nav {
    border-bottom: 1px solid #255A78;
    margin-bottom: 27px;

    a:hover {
        color: white;
    }

    ul:last-child {
        a {
            padding-right: 30px;
        }
    }
    @media(min-width: 768px) {
        ul {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin-right: 20px;
            }
        }

        ul:last-child {
            li {
                margin-right: 0;
            }
        }
    }
    @media(min-width: 992px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
    }

    a {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        color: #376f8e;
    }
}

.footer-contacts {
    max-width: 680px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media(min-width: 992px) {
        justify-content: space-between;
    }

    .footer-contacts_item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .footer-contacts_item:nth-child(1) {
        max-width: 280px;
        width: 100%;

        a {
            font-size: 14px;
            color: #4c88a4;

            &:hover {
                color: white;
            }

            b {
                font-weight: bold;
                color: #ffffff;
            }
        }
    }

    .footer-contacts_item:nth-child(2) {
        max-width: 258px;
        width: 100%;
    }

    &_item {
        span {
            font-size: 14px;
            color: #4c88a4;

            b {
                font-weight: bold;
                color: #ffffff;
            }
        }
    }

    &_item:nth-child(2) {
        span {
            color: white;
        }
    }
}

.footer-devLink {
    text-align: center;
    @media(min-width: 992px) {
        text-align: right;
    }

    a {
        color: #276587;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;

        &:hover {
            .footer-devLink_img {
                background: url("../img/ipos-white.png") no-repeat right;
            }
        }
    }
}

.footer-devLink_img {
    width: 75px;
    height: 26px;
    background: url("../img/ipos.png") no-repeat right;
    transition: 0.5s;
    margin: 0 auto;
    @media(min-width:992px) {
        margin-left: 34px;
    }
}

.callback {
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    z-index: 500;
    @media(max-width:992px) {
        display: none;
    }
}

.Phone {
    position: relative;
    display: block;
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 5vmin;
    background-color: #3498db;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0 rgba(#3498db, 0), 0 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.Phone::after,
.Phone::before {
    position: absolute;
    content: "";
}

.Phone::before {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: rgba(#fff, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
    animation: phone-outer 3000ms infinite;

    &::before {
        animation: phone-inner 3000ms infinite;
    }

    &::after {
        animation: phone-icon 3000ms infinite;
    }
}
@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0 rgba(#3498db, 0), 0 0.05em 0.1em rgba(#000000, 0.2);
    }

    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0 rgba(#3498db, 0.1), 0 0.05em 0.1em rgba(#000000, 0.5);
    }

    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0.5em rgba(#3498db, 0), 0 0.05em 0.1em rgba(#000000, 0.2);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0 rgba(#3498db, 0), 0 0.05em 0.1em rgba(#000000, 0.2);
    }
}
@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }

    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }

    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}
@keyframes phone-icon {
    0% {
        transform: translate3d(0em, 0, 0);
    }

    2% {
        transform: translate3d(0.01em, 0, 0);
    }

    4% {
        transform: translate3d(-0.01em, 0, 0);
    }

    6% {
        transform: translate3d(0.01em, 0, 0);
    }

    8% {
        transform: translate3d(-0.01em, 0, 0);
    }

    10% {
        transform: translate3d(0.01em, 0, 0);
    }

    12% {
        transform: translate3d(-0.01em, 0, 0);
    }

    14% {
        transform: translate3d(0.01em, 0, 0);
    }

    16% {
        transform: translate3d(-0.01em, 0, 0);
    }

    18% {
        transform: translate3d(0.01em, 0, 0);
    }

    20% {
        transform: translate3d(-0.01em, 0, 0);
    }

    22% {
        transform: translate3d(0.01em, 0, 0);
    }

    24% {
        transform: translate3d(-0.01em, 0, 0);
    }

    26% {
        transform: translate3d(0.01em, 0, 0);
    }

    28% {
        transform: translate3d(-0.01em, 0, 0);
    }

    30% {
        transform: translate3d(0.01em, 0, 0);
    }

    32% {
        transform: translate3d(-0.01em, 0, 0);
    }

    34% {
        transform: translate3d(0.01em, 0, 0);
    }

    36% {
        transform: translate3d(-0.01em, 0, 0);
    }

    38% {
        transform: translate3d(0.01em, 0, 0);
    }

    40% {
        transform: translate3d(-0.01em, 0, 0);
    }

    42% {
        transform: translate3d(0.01em, 0, 0);
    }

    44% {
        transform: translate3d(-0.01em, 0, 0);
    }

    46% {
        transform: translate3d(0em, 0, 0);
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #3199DA;
    z-index: 9998;

    .loader {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        height: 100%;
    }
}

.load_done {
    display: none;
}
